html {
    scroll-behavior: smooth;
 }

.wrapper {
    width: 100%;
    height: 908px;
    margin: auto;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.header {
    width: 90%;
    height: 60px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 184px;
    height: 60px;
}

.nav {
    width: 443px;
    height: 27px;
}

.logo__link {
    text-decoration: none;
    transition: 0.5s;
}

.logo__link:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.logo__title {
    width: 190px;
    height: 35px;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    margin: 0;
    color: #F1CDB3;
}

.logo__text {
    width: 180px;
    height: 15px;
    padding-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.list {
    display: flex;
    margin: 0;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}

.list__item {
    list-style-type: none;
}

.list__link,
.list_link_active,
.burger-menu-list_link_active,
.burger-menu-list__link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #CDCDCD;
    transition: 0.5s;
}

.burger-menu-list_link_active,
.burger-menu-list__link {
    font-size: 25px;
}

.list__link:hover {
    cursor: pointer;
    color: #FAFAFA;
    transition: 0.5s;
}

.list_link_active,
.burger-menu-list_link_active {
    color: #FAFAFA;
}

.list_link_active:hover {
    cursor: default;
    transition: 0.5s;
}

.list_link_active::after,
.burger-menu-list_link_active::after {
    display: block;
    content: "";
    border-bottom: 3px solid #F1CDB3;
}

.burger-menu {
    display: none;
    width: 30px;
    height: 22px;
    transition: 0.5s;
}

.rotate {
    transform: rotate(90deg);
    position: relative;
    left: -14px;
    transition: 0.5s;
}

.burger-menu-fon {
    display: none;
    margin-left: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.burger-menu-content {
    width: 320px;
    height: 100%;
    position: fixed;
    display: flex;
    right: -100%;
    background-color: #292929;
    transition: 1s;
}

.burger-menu-content-open {
    right: 0;
    transition: 1s;
}

.burger-menu-list {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    padding-left: 0;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.open-fon {
    margin-left: 0;
    display: block;
    transition: 0.5s;
}

.overflow-hidden {
    overflow: hidden
}

.burger-menu__line {
    position: absolute;
    width: 30px;
    height: 0px;
    border: 1px solid #F1CDB3;
}

.burger-menu__line::after {
    position: absolute;
    content: '';
    margin-top: 19px;
    left: -1px;
    width: 30px;
    height: 0px;
    border: 1px solid #F1CDB3;
}

.burger-menu__line::before {
    position: absolute;
    content: '';
    margin-top: 9px;
    left: -1px;
    width: 30px;
    height: 0px;
    border: 1px solid #F1CDB3;
}

.not-only {
    width: 90%;
    height: 728px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 90px;
}

.not-only-content {
    width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 163px
}

.not-only-content__title {
    width: 310px;
    height: 114px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    margin: 0;
    line-height: 57.2px;
    color: #FFFFFF;
}

.not-only-content__text {
    width: 460px;
    height: 72px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}

.not-only-content__btn {
    width: 207px;
    height: 52px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    border-radius: 100px;
    background: #F1CDB3;
    border: 0;
    transition: 0.5s;
}

.not-only-content__btn:hover {
    background: #FDDCC4;
    cursor: pointer;
    transition: 0.5s;
}

.not-only__image {
    width: 698px;
    height: 728px;
    background-image: url(../../accects/img/start-screen-puppy.png);
}

.about {
    width: 1280px;
    height: 588px;
    margin: auto;
}

.about-wrapper {
    width: 1090px;
    height: 408px;
    margin: auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.about__img {
    width: 300px;
    height: 408px;
    background-image: url(../../accects/img/about-pets.png);

}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
    height: 380px;
    margin-top: 14px;
}

.about-content__title {
    width: 370px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.about-content__text,
.about-content__text_p2 {
    width: 430px;
    height: 96px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color:#4C4C4C;
}

.about-content__text {
    margin-top: 25px;
}

.about-content__text_p2 {
    height: 144px;
    margin-top: 10px;
}

.our-friends {
    width: 100%;
    height: 877px;
    background: #F6F6F6;
    margin: auto;
}

.our-friends-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 697px;
    margin: auto;
    padding-top: 80px;
}

.our-friends__title {
    width: 400px;
    height: 90px;
    margin: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color:#545454;
}

.our-friends__slider {
    width: 1200px;
    height: 435px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-friends__slider__btn-left {
    width: 52px;
    height: 52px;
    display: block;
    border-radius: 100px;
    border-width: 2px;
    background-image: url(../../accects/icon/arrow-left.png);
    transition: 0.5s;
}

.our-friends__slider__btn-left:hover {
    cursor: pointer;
    background-image: url(../../accects/icon/button_arrow_hover.png);
    transition: 0.5s;
}

.our-friends__slider__btn-right {
    width: 52px;
    height: 52px;
    display: block;
    background-image: url(../../accects/icon/arrow-right.png);
    transition: 0.5s;
}

.our-friends__slider__btn-right:hover {
    cursor: pointer;
    background-image: url(../../accects/icon/button_arrow_hover_right.png);
    transition: 0.5s;
}

.our-friends__slider__card {
    width: 270px;
    height: 435px;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    border-radius: 9px;
    transition: 0.5s;
}

.our-friends__slider__card:hover {
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.slider__card-1,
.slider__card-2,
.slider__card-3 {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    background: #FAFAFA;
    transition: 0.5s;
}

.slider__card-1:hover,
.slider__card-2:hover,
.slider__card-3:hover {
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.slider__card-1__img,
.slider__card-2__img,
.slider__card-3__img {
    width: 270px;
    height: 270px;
}

.slider__card-1__name,
.slider__card-2__name,
.slider__card-3__name {
    width: 74px;
    height: 23px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 0.06em;
}

.slider__card-2__name {
    width: 83px;
}

.slider__card-3__name {
    width: 68px;
}

.slider__card-1__btn,
.slider__card-2__btn,
.slider__card-3__btn {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    padding: 15px, 45px, 15px, 45px;
    margin-bottom: 30px;
    background: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    color:#292929;
    transition: 0.5s;
}

.slider__card-1__btn:hover,
.slider__card-2__btn:hover,
.slider__card-3__btn:hover {
    cursor: pointer;
    background: #FDDCC4;
    border-color: #FDDCC4;
    transition: 0.5s;
}




.our-friends__slider__card-container {
    width: 90%;
    height: 435px;
    overflow: hidden;
    position: relative;
}

.our-friends__slider__cards {
    display: flex;
    transition: transform 0.5s ease;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.slider__card {
    text-align: center;
}

.slider__card__img {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.slider__card__name {
    font-size: 18px;
    font-weight: bold;
}

.slider__card__btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.our-friends__btn {
    width: 261px;
    height: 52px;
    border-radius: 100px;
    border: 0;
    background-color: #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.05em;
    color:#292929;
    transition: 0.5s;
}

.our-friends__btn:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition: 0.5s;
}


.modal-window-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window-icon {
    width: 52px;
    height: 52px;
    margin-left: 937px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-color: #F1CDB3;
    border: 2px solid #F1CDB3;
    transition: 0.5s;
}

.modal-window-icon:hover {
    background-color: #F1CDB3;
    cursor: pointer;
    transition: 0.5s;
}

.modal-window-icon__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

.modal-window {
    width: 900px;
    height: 500px;
    display: flex;
    margin: auto;
    background: #FAFAFA;
    border-radius: 9px;
}


.modal-window__img {
    width: 500px;
    height: 500px;
    background-size: contain;
}

.modal-window-content {
    width: 351px;
    height: 362px;
    margin-top: 51px;
    margin-left: 32px;
}

.modal-window__title {
    width: 400px;
    height: 90px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.modal-window__type {
    height: 23px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    margin-top: -36px;
}

.modal-window__description {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    margin-top: 43px;
    text-align: left;
}

.modal-window__list {
    padding-left: 15px;
    margin-top: 43px;
    height: 102px;
    display: grid;
}

.modal-window__age,
.modal-window__inoculations,
.modal-window__diseases,
.modal-window__parasites {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 700;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    color: #000000;
}

.modal-window__text {
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000000;
}

.help {
    width: 1280px;
    height: 611px;
    margin: auto;
}

.help-wrapper {
    width: 1200px;
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 80px;
}

.help__title {
    width: 310px;
    height: 90px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color:#545454;
    margin: 0;
}

.help-container {
    width: 1026px;
    height: 281px;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 83px 150px 60px 153px 101px;
    grid-template-rows: 113px 113px;
    grid-template-areas:
    "pet-food transportation toys bowls shampoos"
    "vitamins medicines collars sleeping-areas .";
    align-content: space-between;
    justify-content: space-between;
}

.help__card-1 {
    width: 83px;
    height: 113px;
    grid-area: pet-food;
}

.help__card-1__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-pet-food.svg);
    margin: auto;
}

.help__card-1__text,
.help__card-2__text,
.help__card-3__text,
.help__card-4__text,
.help__card-5__text,
.help__card-6__text,
.help__card-7__text,
.help__card-8__text,
.help__card-9__text {
    height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 30px;

}

.help__card-1__text {
    width: 83px;
}

.help__card-2__text {
    width: 150px;
}

.help__card-3__text {
    width: 46px;
    margin-left: auto;
    margin-right: auto;
}

.help__card-4__text {
    width: 154px;
}

.help__card-5__text {
    width: 101px;
}

.help__card-6__text {
    width: 89px;
}

.help__card-7__text {
    width: 101px;
}

.help__card-8__text {
    width: 166px;
    margin-left: auto;
    margin-right: auto;
}

.help__card-9__text {
    width: 144px;
}

.help__card-2 {
    width: 150px;
    height: 113px;
    grid-area: transportation;
}

.help__card-2__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-transportation.svg);
    margin: auto;
}

.help__card-3 {
    width: 60px;
    height: 113px;
    grid-area: toys;
}

.help__card-3__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-toys.svg);
    margin: auto;
}

.help__card-4 {
    width: 153px;
    height: 113px;
    grid-area: bowls;
}

.help__card-4__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-bowls-and-cups.svg);
    margin: auto;
}

.help__card-5 {
    width: 101px;
    height: 113px;
    grid-area: shampoos;
}

.help__card-5__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-shampoos.svg);
    margin: auto;
}

.help__card-6 {
    width: 89px;
    height: 113px;
    grid-area: vitamins;
    margin-left: 85px;
}

.help__card-6__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-vitamins.svg);
    margin: auto;
}

.help__card-7 {
    width: 101px;
    height: 113px;
    grid-area: medicines;
    margin-left: 91px;
}

.help__card-7__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-medicines.svg);
    margin: auto;
}

.help__card-8 {
    width: 165px;
    height: 113px;
    grid-area: collars;
    margin-left: 40px;
}

.help__card-8__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-collars-leashes.svg);
    margin: auto;
}

.help__card-9 {
    width: 143px;
    height: 113px;
    grid-area: sleeping-areas;
    margin-left: 147px;
}

.help__card-9__icon {
    width: 60px;
    height: 60px;
    background-image: url(../../accects/icon/icon-sleeping-area.svg);
    margin: auto;
}

.donation {
    width: 100%;
    height: 462px;
    background: #F6F6F6;
    margin: auto;
}

.donation-wrapper {
    width: 915px;
    height: 282px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px
}

.donation__img {
    width: 505px;
    height: 261px;
    background-image: url(../../accects/img/donation-dog.png);
}

.donation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 282px;
}

.donation-content__title {
    width: 300px;
    height: 90px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
}

.donation-content__name-bank {
    width: 308px;
    height: 17px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.06em;
}

.donation-content__card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 349px;
    height: 43px;
    border-radius: 9px;
    background: #F1CDB3;
    text-decoration: none;
    transition: 0.5s;
}

.donation-content__card-wrapper:hover {
    background: #FDDCC4;
    transition: 0.5s;
}

.donation-content__card {
    width: 319px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-content__card::before {
    display: block;
    content: "";
    width: 30px;
    height: 23px;
    background-image: url(../../accects/icon/credit-card.svg);
    
}

.donation-content__text {
    width: 380px;
    height: 72px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
}

.footer {
    width: 100%;
    height: 350px;
    margin: auto;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);;
}

.footer-wrapper {
    width: 1200px;
    height: 310px;
    margin: auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 278px 302px 300px;
    grid-template-rows: 310px;
    justify-content: space-between;
}

.footer-contant__title,
.footer-location__title {
    width: 279px;
    height: 90px;
    margin-top: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-location__title {
    width: 270px;
}

.footer-contant__item {
    list-style: none;
    margin-top: 45px;
    margin-bottom: 49px;
}

.footer-location__item {
    list-style: none;
    margin-bottom: 23px;
}

.footer-contant__email,
.footer-contant__phone,
.footer-location__link {
    height: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #F1CDB3;
    transition: 0.5s;
}

.footer-contant__email:hover,
.footer-contant__phone:hover,
.footer-location__link:hover {
    opacity: 0.5;
    transition: 0.5s;
}

.footer-contant__email {
    width: 191px;
    margin-left: 20px;
}

.footer-contant__phone {
    width: 179px;
    margin-left: 20px;
}

.footer-location__link {
    width: 260px;
    height: 46px;
    display: flex;
    align-items: center;
}

.footer-contant__email::before {
    display: block;
    position: absolute;
    margin-top: -5px;
    margin-left: -40px;
    content: '';
    width: 40px;
    height: 32px;
    background-image: url(../../accects/icon/icon-email.svg);
}

.footer-contant__phone::before {
    display: block;
    position: absolute;
    margin-top: -5px;
    margin-left: -40px;
    content: '';
    width: 40px;
    height: 32px;
    background-image: url(../../accects/icon/icon-phone.svg);
}

.footer-location__link::before {
    display: block;
    position: absolute;
    margin-top: -7px;
    margin-left: -40px;
    content: '';
    width: 22px;
    height: 32px;
    background-image: url(../../accects/icon/icon-marker.png);
}

.footer__img {
    width: 300px;
    height: 310px;
    background-image: url(../../accects/img/footer-puppy.png);
}

@media (max-width: 1279px) and (min-width: 768px) {
    .wrapper {
        height: 1165px;
    }

    .header {
        width: 92%;
    }

    .not-only {
        height: 1015px;
        flex-direction:column;
        margin-top: 59px;
        align-items: center;
    }

    .not-only-content {
        padding-top: 0px;
    }

    .not-only-content__btn {
        margin-left: 125px;
    }

    .not-only__image {
        width: 569px;
        height: 593px;
        background-size: contain;
        margin-left: 140px;
    }

    .about {
        height: 1048px;
        width: 100%;
    }

    .about-wrapper {
        height: 878px;
        width: 58%;
        flex-direction: column-reverse;
        padding-top: 69px;
        justify-content: space-between;
        align-items: center;
    }

    .about__img {
        height: 408px;
        width: 300px;
    }

    .our-friends-wrapper {
        width: 93%;
    }

    .our-friends__slider {
        width: 100%;
    }

    .our-friends__slider__card-container {
        width: 82%;
    }

    .our-friends__slider__card-wrapper {
        width: 100%;
    }

    .slider__card-3 {
        display: none;
    }

    .modal-window-icon {
        margin-left: 664px;
    }

    .modal-window {
        width: 630px;
        height: 350px;
    }

    .modal-window__img {
        width: 350px;
        height: 350px;
    }

    .modal-window-content {
        width: 260px;
        height: 303px;
        margin-top: 10px;
        margin-left: 11px;
    }

    .modal-window__title {
        width: 153px;
    }

    .modal-window__description {
        width: 261px;
        height: 98px;
        font-size: 13px;
        line-height: 14.3px;
        margin-top: 22px;
    }

    .modal-window__list {
        height: 92px;
        margin-top: 20px;
    }

    .help {
        width: 100%;
        height: 779px;
    }

    .help-wrapper {
        width: 83%;
        height: 599px;
    }

    .help-container {
        width: 100%;
        height: 449px;
        grid-template-columns: 170px 170px 170px;
        grid-template-rows: 113px 113px 113px;
        grid-template-areas:
        "pet-food transportation toys"
        "bowls shampoos vitamins"
        "medicines collars sleeping-areas";
    }

    .help__card-1,
    .help__card-2,
    .help__card-3,
    .help__card-4,
    .help__card-5,
    .help__card-6,
    .help__card-7,
    .help__card-8,
    .help__card-9 {
        margin: auto;
    }

    .donation {
        height: 783px;
    }

    .donation-wrapper {
        width: 90%;
        height: 600px;
        flex-direction: column-reverse;
    }

    .footer {
        height: 639px;
    }

    .footer-wrapper {
        grid-template-columns: 278px 302px;
        grid-template-rows: 234px 310px;
        width: 84%;
        height: 625px;
        align-content: space-between;
        padding-top: 13px;
    }

    .footer__img {
        margin-left: 171px;
    }
}

 
@media (max-width: 767px) and (min-width: 320px) { 

    .wrapper {
        height: 823px;
    }

    .header  {
        width: 88%;
    }

    .nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .not-only {
        width: 94%;
        height: 675px;
        margin-top: 59px;
        flex-direction: column;
    }

    .not-only-content {
        width: 100%;
        height: 296px;
        padding-top: 0px;
        align-items: center;
    }

    .not-only-content__title {
        width: 197px;
        height: 64px;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .not-only-content__text {
        width: 300px;
        height: 96px;
        text-align: center;
    }

    .not-only__image {
        width: 260px;
        height: 272px;
        background-size: contain;
        margin-left: 40px;
    }

    .about {
        width: 100%;
        height: 974px;
    }

    .about-wrapper {
        width: 94%;
        height: 890px;
        padding-top: 42px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .about-content {
        width: 100%;
        height: 494px;
        margin-top: 0;
        align-items: center;
    }

    .about-content__title {
        width: 293px;
        height: 64px;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
    }

    .about-content__text {
        width: 270px;
        height: 144px;
        text-align: justify;
    }

    .about-content__text_p2 {
        width: 270px;
        height: 239px;
        text-align: justify;
    }

    .about__img {
        height: 354px;
        width: 260px;
        background-size: contain;
    }

    .our-friends {
        height: 791px;
    }

    .our-friends-wrapper {
        width: 94%;
        height: 707px;
        padding-top: 42px;
    }

    .our-friends__title {
        width: 300px;
        height: 64px;
        font-size: 25px;
        line-height: 32.5px;
    }

    .our-friends__slider {
        width: 90%;
        height: 507px;
        display: grid;
        grid-template-columns: 135px 135px;
        grid-template-rows: 435px 72px;
        justify-content: center;
        grid-template-areas:
        "card-container card-container "
        "btn-left btn-right";

    }

    .our-friends__slider__card-container {
        width: 100%;
        grid-area: card-container;
    }

    .our-friends__slider__btn-left {
        margin: auto;
        margin-top: 20px;
        grid-area: btn-left;
    }

    .our-friends__slider__btn-right {
        margin: auto;
        margin-top: 20px;
        grid-area: btn-right;
    }

    .our-friends__slider__card-wrapper {
        width: 100%;
    }

    .slider__card-2, 
    .slider__card-3 {
        display: none;
    }

    .modal-window-icon {
        width: 49px;
        height: 49px;
        margin-left: 248px;
    }

    .modal-window {
        width: 240px;
        height: 341px;
        justify-content: center;
    }

    .modal-window__img {
        display: none;
    }

    .modal-window-content {
        width: 220px;
        height: 321px;
        margin-top: 12px;
        margin-left: 0px;
        overflow: auto;
    }

    .modal-window__title {
        text-align: center;
        width: 152px;
        margin: auto;
    }

    .modal-window__type {
        text-align: center;
    }

    .modal-window__description {
        width: 222px;
        font-size: 13px;
        margin-top: 19px;
        line-height: 14.5px;
        text-align: justify;
    }

    .modal-window__list {
        width: 154px;
        height: 93px;
        margin-top: 20px;
    }

    .help {
        width: 100%;
        height: 745px;
    }

    .help-wrapper {
        width: 91%;
        height: 670px;
        padding-top: 42px;
    }

    .help__title {
        width: 222px;
        height: 64px;
        font-size: 25px;
        line-height: 32.5px;
    }

    .help-container {
        width: 100%;
        height: 555px;
        grid-template-columns: 145px 145px;
        grid-template-rows: 111px 111px 111px 111px 111px;
        grid-template-areas:
        "pet-food transportation"
        "toys bowls"
        "shampoos vitamins"
        "medicines collars"
        "sleeping-areas .";
        margin-top: 43px;
    }

    .help__card-1,
    .help__card-2,
    .help__card-3,
    .help__card-4,
    .help__card-5,
    .help__card-6,
    .help__card-7,
    .help__card-8,
    .help__card-9 {
        width: 130px;
        height: 87px;
    }

    .help__card-1__icon,
    .help__card-2__icon,
    .help__card-3__icon,
    .help__card-4__icon,
    .help__card-5__icon,
    .help__card-6__icon,
    .help__card-7__icon,
    .help__card-8__icon,
    .help__card-9__icon {
        width: 50px;
        height: 50px;
        background-size: contain;
    }

    .help__card-1__text, 
    .help__card-2__text, 
    .help__card-3__text, 
    .help__card-4__text, 
    .help__card-5__text, 
    .help__card-6__text, 
    .help__card-7__text, 
    .help__card-8__text, 
    .help__card-9__text {
        height: 17px;
        width: 130px;
        font-size: 15px;
        line-height: 16.5px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .help__card-9__text {
        width: 130px;
    }

    .help__card-6,
    .help__card-7,
    .help__card-8,
    .help__card-9 {
        margin-left: 0;
    }

    .help__card-2 {
        margin-left: 14px;
    }

    .help__card-3 {
        margin-top: 6px;
    }

    .help__card-4 {
        margin-top: 6px;
        margin-left: 15px;
    }

    .help__card-5 {
        margin-top: 12px;
    }

    .help__card-6 {
        margin-top: 11px;
        margin-left: 15px;
    }

    .help__card-7 {
        margin-top: 18px;
    }

    .help__card-8 {
        margin-top: 17px;
        margin-left: 15px;
    }

    .help__card-9 {
        margin-top: 24px;
    }

    .donation {
        height: 542.5px;
    }

    .donation-wrapper {
        width: 94%;
        height: 458px;
        flex-direction: column-reverse;
        padding-top: 42px;
    }

    .donation-content {
        height: 281px;
        width: 100%;
        align-items: center;
    }

    .donation-content__title {
        width: 215px;
        height: 64px;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
    }

    .donation-content__name-bank {
        width: 273px;
        height: 24px;
        line-height: 24px;
        letter-spacing: 0;
    }

    .donation-content__card-wrapper {
        width: 281px;
        height: 43px;
    }

    .donation-content__card {
        justify-content: space-evenly;
        font-size: 15px;
        line-height: 16.5px;
    }

    .donation-content__text {
        width: 280px;
        height: 90px;
        text-align: justify;
    }

    .donation__img {
        width: 260px;
        height: 135.2px;
        background-size: contain;
    }

    .footer {
        height: 809px;
    }

    .footer-wrapper {
        width: 94%;
        height: 780px;
        padding-top: 12px;
        grid-template-columns: 300px;
        grid-template-rows: 235px 235px 269px;
    }

    .footer-contant__title, 
    .footer-location__title {
        width: 294px;
        height: 64px;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
    }

    .footer-contant__title {
        width: 300px;
    }

    .footer__img {
        width: 260px;
        height: 269px;
        background-size: contain;
    }

    .footer-contant__item:first-child {
        padding-left: 25px;
    }

    .footer-contant__item:last-child {
        padding-left: 30px;
    }

    .footer-location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 14px;
    }

    .footer-location__item:last-child {
        margin-top: 32px;
    }

    .footer__img {
        margin-top: 59px;
        margin-left: 20px;    
    }
}